<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd"
		>
		
<!-- Injection Bean Client -->

<bean id="daoClient" class="com.adaming.tplocation.dao.ClientDAOImpl"/>

<bean id="serviceClient" class="com.adaming.tplocation.service.ClientServiceImpl">

<property name="dao" ref="daoClient"></property>

</bean>		


<!-- Injection Bean Voiture -->

<bean id="daoVoiture" class="com.adaming.tplocation.dao.VoitureDAOImpl"/>

<bean id="serviceVoiture" class="com.adaming.tplocation.service.VoitureServiceImpl">

<property name="dao" ref="daoVoiture"></property>

</bean>	

<!-- Injection Bean Agence -->

<bean id="daoAgence" class="com.adaming.tplocation.dao.AgenceDAOImpl"/>

<bean id="serviceAgence" class="com.adaming.tplocation.service.AgenceServiceImpl">

<property name="dao" ref="daoAgence"></property>

</bean>


<!-- Injection Bean Reservation -->

<bean id="daoReservation" class="com.adaming.tplocation.dao.ReservationDAOImpl"/>

<bean id="serviceReservation" class="com.adaming.tplocation.service.ReservationServiceImpl">

<property name="dao" ref="daoReservation"></property>

</bean>


<!-- Injection Bean Facture -->

<bean id="daoFacture" class="com.adaming.tplocation.dao.FactureDAOImpl"/>

<bean id="serviceFacture" class="com.adaming.tplocation.service.FactureServiceImpl">

<property name="dao" ref="daoFacture"></property>

</bean>
		
		


<!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources directory -->
	<mvc:resources mapping="/resources/**" location="/resources/" />
	
	<context:component-scan base-package="com.adaming.tplocation" />


<bean id="datasource"
class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	<property name="url"
		value="jdbc:mysql://localhost/db_tplocation"></property>
	<property name="username" value="root"></property>
	<property name="password" value="root"></property>
</bean>

<bean id="PersistenceUnitManager"
class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="defaultDataSource" ref="datasource"></property>
	<property name="persistenceXmlLocations">
	
<list>
	<value>classpath*:META-INF/persistence.xml</value>
</list>
</property>
</bean>

<bean id="EntityManagerFactory"
class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
	<property name="persistenceUnitManager" ref="PersistenceUnitManager"></property>
	<property name="persistenceUnitName" value="UP_TpLocation"></property>
</bean>

<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
	<property name="entityManagerFactory" ref="EntityManagerFactory"></property>
</bean>
<tx:annotation-driven transaction-manager="transactionManager" />

<context:annotation-config></context:annotation-config>



</beans>